
body{
    font-family: 'Montserrat', sans-serif;
}

.header{
    background-color: #0d2033;
    padding: 30px;
    
    width: 100%;
    margin-top: 10px;
    margin-left: 5px;
    
 }

    .nav1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width:100%;
       /*  margin: 0 auto; */
    }

    .logo, .nav-menu-link, .nav-menu-link{
        color : white;
        text-decoration:none;
    }
    
    .logo{
        font-size:30px;
        font-weight: bold;
        padding: 0 40px;
        line-height: 80px;
    }
    
    .nav-menu{
        display: flex;
        margin-right: 40px;
        list-style: none;
    }
    .nav-menu-item{
        font-size: 14px;
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
    }
    
    .nav-menu-link{
        padding: 8px 12px;
        border-radius: 3px;
        transition: 0.5s;
    }
    .nav-menu-link:hover{
        background-color: #034574;
    }
    .nav-toggle{
        color: white;
        background: none;
        border: none;
        font-size: 25px;
        padding: 0 5px;
        line-height: 60px;
        display: none;
        }
    
    .logo, .nav-menu{
        color:white;
    }









    .pie-pagina{
        width: 100%;
        background-color: #0a141d;
        margin-top: auto;
           
        
    }
    .pie-pagina .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:50px;
        padding: 45px 0px;
    }
    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pie-pagina .grupo-1 .box figure img{
        width: 250px;
    }
    .pie-pagina .grupo-1 .box h2{
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;
    }
    .pie-pagina .grupo-1 .box p{
        color: #efefef;
        margin-bottom: 10px;
    }
    .pie-pagina .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
        transition: all 300ms ease;
    }
    .pie-pagina .grupo-1 .red-social a:hover{
        color: aqua;
    }
    .pie-pagina .grupo-2{
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }
    .pie-pagina .grupo-2 small{
        font-size: 15px;
    }
    @media screen and (max-width:800px){
        .pie-pagina .grupo-1{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap:30px;
            padding: 35px 0px;
        }
    } 

    .boton{
        justify-content: center;
    } 
